  body {
  background-image: radial-gradient(rgb(41, 106, 212) 0%, rgb(78, 142, 247) 100%);
  font: 400 1em/1.38 Montserrat;
  color: #ffffff;
  text-align: center;
}

.container {
  margin: auto;
  width: 600px;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
}

.lokacja {
  min-height: 59px;
  font-size: 2.226em;
  font-weight: 400;
  line-height: 2.76;
}


.temperatura {
  font-size: 12.25em;
  font-weight: 700;
  float: left;
  text-align: center;
  height: 300px;
  width: 300px;
}
.ikona-pogoda {
  height: 300px;
}

.img-pogoda {
  width: 300px;
  height: 300px;
  overflow: hidden;
}

.ikona-wilgotnosc, .ikona-wiatr {
  width: 100px;
}


.wilgotnosc-info, .wiatr-info {
  width: 200px;
}

.wilgotnosc-info {
  float: left;
  margin-left: 100px;
}
.wiatr-info {
  float: right;
  margin-right: 100px;
}

.tabela {
  display: block;
  margin-top: 200px;
}

.table-img {
  height: 50px;
}

#wykres {
  margin-top: 50px;
}

.highcharts-background {
  opacity: 0.8;
}

.predkosc-wiatru, .wilgotnosc {
  font-size: 1.5em;
}